/* google fonts imported for design */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


/*CSS designed for all pages linked to this stylesheet */
body {
    color:white;
    background-image:    url(../images/wood.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}
header {
    text-align: center;
    width: 250px;
    margin-left: 475px;
    margin-bottom: 45px;
    padding-top: 35px;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 1.4em;
}
#logo {
    width: 150px;
    height: 107px;
    float: left;
}
nav {
    float: left;
    text-align: center;
    margin-left: 10px;
    padding-top: 55px;
    width: 150px;
    height: 425px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em;
    background-color: #ea1b23;
    border: black 2px solid;
    }
nav > a {
    color: white;
}


/* CSS specifically for home.html page */
.topHome {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    text-overflow: auto;
    text-overflow: ellipsis;
}
figure > img#insideQdogs {
    height: 312px;
    margin-left: 15px;
    border: black solid 2px;
}
article#hoursContact {
    text-align: center;
    width: 235px;
    height: 312px;
    border: black solid 2px;
    margin-left: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
}
article#hoursContact > section > h4 {
    font-family: 'Oswald', sans-serif;

}
#star {
    font-size: 10px;
}
p#contact > a {
    color: rgb(54, 54, 151);
}
.bottomHome {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 1050px;
    height: 100px;
    margin-left: 175px;
    border: black solid 2px;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
}


/*CSS specifically for linked catering.html page */

#cateringFlex {
    height: 507px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: row;
}
legend {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    color: black;
}
form article {
    border: black solid 2px;
    width:650px;
    height: 425px; 
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
    margin-left: 15px;
}
form h3 {
    font-family: 'Oswald', sans-serif;
}
#inputFirst {
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 25px;
}
#inputSecond {
    padding-top: 25px;
    margin-right: 50px;
    text-align: left;
}
figure#foodTruck {
    background-color: #ea1b23;
    border: black solid 2px;
    width: 300px;
    height: 425px;
    overflow: auto;
    text-overflow: ellipsis;
    margin-left: 15px;
}
figure#foodTruck > img {
    height: 175px;
    width: 290px;
    padding: 5px;
    overflow: auto;
}
figure#foodTruck > figcaption {
    text-align: center;
    font-size: .9em;
}

/* CSS Specifically more menu.html page */

.tab {
  overflow: hidden;
  border: 2px solid black;
  background-color: #ea1b23;
  width: 800px;
  margin-left: 175px;

  
}
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  margin-left: 15px;

}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ff9da0;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 800px;
  margin-left: 175px;
  margin-top: 10px;
  color: white;
  background-color: #ea1b23;
  border: solid black 2px;
  font-size: .9em;
}
div.tabcontent > p > strong {
    text-decoration: underline;
    
}

/* CSS specifically for the liveMusic.html page */

#liveMusicFlex {
    height: 425px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    overflow: auto;
}
#myCarousel {
    width: 600px;
    margin-left: 15px;
}
.carousel-inner img {
    width: 100%;
}
#calendar {
    margin-left: 15px;
    background-color: #ea1b23;
    height: 425px;
}