/* google fonts imported for design */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


/*CSS designed for all pages linked to this stylesheet */
body {
    color:white;
    background-image:    url(../images/wood.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}
header {
    text-align: center;
    width: 250px;
    margin-left: 475px;
    margin-bottom: 45px;
    padding-top: 35px;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 1.4em;
}
#logo {
    width: 150px;
    height: 107px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
nav {
    float: left;
    text-align: center;
    margin-left: 10px;
    padding-top: 55px;
    width: 150px;
    height: 425px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em;
    background-color: #ea1b23;
    border: black 2px solid;
    }
nav > a {
    color: white;
}


/* CSS specifically for home.html page */
.topHome {
    width: 1065px;
    margin-left: 175px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* controls the top 1/2 of the home page */
}
figure > img#insideQdogs {
    height: 312px;
    border: black solid 2px;
    /* controls the main image on the page */
}
article#hoursContact {
    text-align: center;
    width: 235px;
    height: 312px;
    border: black solid 2px;
    margin-left: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
    /*controls the the section to the right of the image on the home page */
}
article#hoursContact > section > h4 {
    font-family: 'Oswald', sans-serif;
    /*headers in the section */

}
#star {
    font-size: 10px;
    /*note about the hours */
}
p#contact > a {
    color: rgb(54, 54, 151);
    /*facebook link */
}
.bottomHome {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 1050px;
    height: 100px;
    margin-left: 175px;
    border: black solid 2px;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
    /* bottom portion of the home page */
}


/*CSS specifically for linked catering.html page */

#cateringFlex {
    height: 507px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: row;
    /* flex that pages elements are connected too*/

}
legend {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    color: black;
    text-align: center;
    /* header input fields */
}
form article {
    border: black solid 2px;
    width:650px;
    height: 425px; 
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
    margin-left: 15px;
    /* distiguishes box that input fields are sitting in */
}
form h3 {
    font-family: 'Oswald', sans-serif;
    /*Headers to user input fields */
}
#inputFirst {
    float: left;
    margin-right: 15px;
    margin-left: 100px;
    padding-top: 25px;
    /* first column of input fields */
}
#inputSecond {
    padding-top: 25px;
    margin-right: 90px;
    text-align: left;
    /* second column of input fields */
}
figure#foodTruck {
    background-color: #ea1b23;
    border: black solid 2px;
    width: 300px;
    height: 425px;
    overflow: auto;
    text-overflow: ellipsis;
    margin-left: 15px;
    /* controls the box the image and its caption are sitting in */
}
figure#foodTruck > img {
    height: 175px;
    width: 290px;
    padding: 5px;
    overflow: auto;
    /*controls just the image in the figure#foodTruck element */
}
figure#foodTruck > figcaption {
    text-align: center;
    font-size: .9em;
    /*controls just the caption in hte figure#foodTruck element */
}

/* CSS Specifically more menu.html page */

.tab {
  overflow: hidden;
  border: 2px solid black;
  background-color: #ea1b23;
  width: 800px;
  margin-left: 175px;
  /* for the tab bar that buttons sit in*/

  
}
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  margin-left: 15px;
  /* for the buttons in the tab bar*/
}
.tab button:hover {
  background-color: #ddd;
  /* when hovering over tabs */
}
.tab button.active {
  background-color: #ff9da0;
  /* tab you are currently viewing */
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 800px;
  margin-left: 175px;
  margin-top: 10px;
  color: white;
  background-color: #ea1b23;
  border: solid black 2px;
  font-size: .9em;
  /* content that disappears/appears as you click between tabs */
}
div.tabcontent > p > strong {
    text-decoration: underline;
    /* Menu item names */
    
}
div.tabcontent> h3 {
    text-align: center;
    /* Headers in menu items */
}
div.tabcontent>h5 {
    text-align: center;
    font-size: .9em;
    /* Menu item header descriptiono */
}

/* CSS specifically for the liveMusic.html page */

#liveMusicFlex {
    height: 425px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    overflow: auto;
    /* flex that pages elements are connected too*/
}
#myCarousel {
    width: 600px;
    margin-left: 15px;
    height: 425px;
    /*bootstrap carousel template, dont change ID names in html, 
    this controls the actual carousel */
}
.carousel-inner img {
    height: 100%;
    /* this controls the images themselves that are within the carousel */
}
#calendar {
    margin-left: 15px;
    background-color: #ea1b23;
    height: 425px;
    border: black solid 2px;
    /* imported calendar for google, for changes to the calendar appearance must be done in google */
}