/*CSS designed for all pages linked to this stylesheet */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
body {
    color: rgb(255, 255, 255);
    background-image:    url(../images/wood.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
  }
header {
    text-align: center;
    width: 200px;
    margin-left: 475px;
    margin-bottom: 60px;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 1.4em;
}

#logo {
    width: 150px;
    height: 107px;
    float: left;
}
nav {
    float: left;
    text-align: center;
    padding-top: 60px;
    width: 150px;
    height: 370px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em;
    background-color: #ea1b23;
    color: white;
    }
a {
    color: white;
}
/* CSS specifically for home.html page */

figure > img#insideQdogs {
    height: 300px;
}

article {
    text-align: center;
    width: 225px;
    height: 300px;
    border: black solid;
    margin-top: 15px;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
}

.topHome {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.bottomHome {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 1050px;
    height: 75px;
    margin-left: 190px;
    border: black solid;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #ea1b23;
}

#star {
    font-size: 10px;
}

/*CSS specifically for linked catering.html page */

#cateringFlex {
    border: black solid;
    width: 1050px;
    height: 407px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    overflow: auto;
}
fieldset {
    border: black solid;
    width:600px;
    height: 350px; 
    overflow: auto;
    text-overflow: ellipsis;
}
#inputFirst {
    float: left;
}
figure#foodTruck > img {
    width: 300px;
    height: 225px;
    overflow: auto;
}

/* CSS Specifically more menu.html page */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 800px;
  margin-left: 275px;
  
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 800px;
  margin-left: 275px;
  color: black;
}


/* CSS specifically for the liveMusic.html page */

#liveMusicFlex {
    border: black solid;
    width: 1050px;
    height: 407px;
    margin-left: 150px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    overflow: auto;
}

#myCarousel {
    width: 600px;
    height: 400px;
}
.carousel-inner img{
    height: 375px;
    width: 100%
}