header {
    text-align: center;
    height: 107px;
    width: 1200px;
}

#logo {
    width: 150px;
    height: 107px;
    float: left;
}
figure > img {
    height: 300px;
}
article {
    text-align: center;
    width: 225px;
    height: 300px;
    border: black solid;
    margin-top: 15px;
    overflow: auto;
    text-overflow: ellipsis;
}
nav {
    float: left;
    text-align: center;
    padding-top: 110px;
    width: 150px;
    height: 400px;
}

.bottomHome {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 1050px;
    height: 75px;
    margin-left: 190px;
    border: black solid;
    overflow: auto;
    text-overflow: ellipsis;
}
.topHome {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#star {
    font-size: 10px;
}