header {
    padding: 0px 0px 59px 0px;
    text-align: center;
    background-color: orangered;
    float: center;
}

header > img {
    width: 200px;
    height: 157px;
    float: left;
}

nav {
    float: left;
    text-align: center;
    background-color: black;
    padding: 100px 63px;
}